.skills {
  display: flex;
  background-color: #17191a;
  padding-top: 30px;
  padding-bottom: 60px;
}

.skills-container {
  max-width: 1250px;
  margin: auto;
}

.skills-title h2 {
  font-size: 32px;
  color: #9ac5ea;
}

.skills-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #117eaf;
  margin-top: 20px;
}

.skills-title p {
  margin-bottom: 20px;
}

.skills-content {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}

.skill-group {
  flex: 1;
  min-width: 250px;
}

.progress {
  margin-bottom: 20px;
}

.skill {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar-wrap {
  background: #2c2f3f;
  border-radius: 50px;
}

.progress-bar {
  height: 8px;
  background-color: #117eaf;
  border-radius: 50px;
}
