.resume {
  display: flex;
  background-color: #131516;
  padding-top: 30px;
  padding-bottom: 60px;
}

.resume-container {
  max-width: 1250px;
  margin: auto;
}

.resume-title h2 {
  font-size: 32px;
  color: #9ac5ea;
}

.resume-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #117eaf;
  margin-top: 20px;
}

.resume-content {
  display: flex;
  gap: 20px;
}

.resume-column {
  flex: 1;
}

.resume-section-title {
  font-size: 28px;
}

.resume-item {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 2px solid #1f5297;
}

.resume-item h4::before {
  display: inline-block;
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -31px;
  bottom: 3px;
  margin-right: -20px;
  background-color: rgb(19, 21, 22);
  border: 2px solid rgb(33, 89, 163);
}

.resume-item h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.resume-item h5 {
  display: inline-block;
  font-size: 16px;
  padding: 5px 12px;
  background-color: #1d2020;
  margin: 0;
  margin-top: 10px;
}

.spacer {
  padding: 20px;
}

.resume-item li {
  margin-bottom: 5px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}
