.about {
  display: flex;
  background-color: #131516;
  padding-top: 30px;
  padding-bottom: 60px;
}

.about-container {
  max-width: 1250px;
  margin: auto;
}

.about-title h2 {
  font-size: 32px;
  color: #9ac5ea;
  padding-bottom: 20px;
}

.about-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #117eaf;
  margin-top: 20px;
}

.about-content {
  display: flex;
}

.about-image {
  height: 404px;
  width: 404px;
  background: url("../../assets/img/profile-img.jpg") no-repeat center center;
  background-size: cover;
}

.about-info {
  flex: 1;
  padding-left: 20px;
}

.about-info h3 {
  font-size: 28px;
  color: #9ac5ea;
  margin: 0;
}

.about-info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 10px;
}

.about-info-list li {
  width: 48%;
}

.about-info-list i {
  padding-right: 5px;
  color: #1d92e7;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}

.about-info-label {
  font-weight: bold;
  margin-right: 10px;
}

p {
  color: #ccc;
  line-height: 1.6;
}

.about-info-description {
  margin: 0;
}
